.initial{
	background-color: white;
}

.accueil h1{
	text-align: center;
	font-size : 60px;
}

.accueil img{
	display: block;
    margin-left: auto;
    margin-right: auto;
	max-width: 75%;
	height: auto;
	margin-top : 50px;
	margin-bottom:50px;

}

.accueil p{
	text-align: center;
	font-size : 20px;
}
