.container-fluid {
	background-color: black;
	margin: 0px;
	padding: 0px;
}


.game {
	/*width: 2000px;*/
	/*height: 1500px;*/
	z-index: -5;
	/*background: url('resources/game.jpg') no-repeat;*/
}

.game .infos {
	display: block;
	position: fixed;
	width: 300px;
	height: 50px;
	right: 0px;
	background-color: rgba(100,100,100,0.3);
	z-index: 1;
	text-align: center;
	color: white;
}

.game .infos img.diamond {
	max-height: 30px;
	margin-top: -10px;
}

.game .infos span.speed{
	font-size: 40px;
}

.game .tower, .game .follow-tower, .game .monster {
	position: absolute;
	width: 60px;
	height: 60px;
	z-index: 1;
	text-align: center;
}

.game .tower img, .game .follow-tower img, .game .monster img {
	width: 60px;
	height: 60px;
}

.game .monster .progress-bar {
	margin-top: 5px;
	color: black;
}

.game .monster .progress-bar.target {
	background-color: green;
}

.game .monster .money {
	text-align: center;
	display: none;
}

.game .area {
	display: none;
	position: absolute;
	background-color: rgba(100,100,100,0.1);
	z-index: 0;
}

.game .follow-tower {
	display: none;
}

.game .follow-tower .area {
	display: block;
}

.game .shot {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: black;
}

.game .parcours {
	position: absolute;
	z-index:0;
	cursor: not-allowed;
}

.game .parcours div {
	position: absolute;
	background-color: #E1E1E1;
	opacity: 1;
}

.game-constructor {
	width: 100%;
	height: 150px;
	position: fixed;
	bottom: 0px;
	background-color: rgba(255,255,255,0.9);
	z-index: 2;
	text-align: center;
	padding: 20px;
	color: black;
}

.game-constructor .tower img.tower {
	max-height: 70px;
}

.game-constructor .tower img.diamond {
	max-height: 30px;
	margin-top: -10px;
}

.game-constructor .tower.disabled {
	cursor: not-allowed;
	opacity: 0.7;
}

.game-constructor .infos {
    margin-top: -200px;
    margin-bottom: 20px;
    width: 100%;
    height: 180px;
    padding: 10px;
    background-color: rgba(255,255,255,0.9);
    display: none;
}

.game-constructor .infos p {
	font-size: 11pt;
}

.game .peon {
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 3;
	background: url('../resources/builder.png') no-repeat;
}

.gameover, .notification, .score {
	background-color: white;
	top: 25vh;
	position: absolute;
	z-index: 20;
	color: black;
	border-radius : 10px;
}
.gameover {
	margin-top: 25vh;
}

.notification {
	border: solid;
	border-color:#1A1E2C;
}

.score {
	background-color: white;
	top: 10vh;
	font-size: 20pt;
	position: absolute;
	z-index: 20;
}

div.type {
	justify-content: center;
}

.policeInGame {
	color: white;
}

.game {
	background-image: url(../resources/MosaicBackground.svg);
}

div.type p {
	color: white;
}



.titreTuto{
	text-align: center;

}

.contenuTuto{
	text-align: justify;
	margin-top: 30px;
}

.docteur{
	height: 150px;
	width: 150px;
 	float:left;

}

body {
	color: white;
	background-image: url(../resources/MosaicBackground.svg);
}

.titres img{
	max-width: 50%;
	height: auto;
	display: inline;
}